{% load staticfiles %}
<!DOCTYPE HTML>

<html>
    <head>
        <title>Gameini</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <link rel='stylesheet' href="{% static 'assets/css/custom.css' %}"/>
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    </head>
    <body class="landing">
        <div id="page-wrapper">
            {{ file }}
            <h2 id='two'> Gameini </h2>
            <hr />
            <h3 id="infotitle"><a id='info' href='#'>Information</a></h3>

            <ul>
            <li>
            <h4>Upload</h4>
            <form id='uploadForm' action='files/upload' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ upload_form }}
                <button class="button special" value="submit">Upload</button>
            </form>
            </li>
            <li>
            <h4>Open file already uploaded to edit</h4>
            <form id='dbForm' action='' method='post'>
                {% csrf_token %}
                {{ form }}
                </br>
                </br>
                <button class="button special icon fa-download" value="submit">Download</button>
            </form>
            </li>
            </ul>
            <p id='warning'>*Please note that these files take specific values. We will not be responsible for you corrupting your file.</p>
            <hr />

            <article id='infoSection'>
                <a href="#" id="info2"><img src="{% static 'images/white.png' %}" id="uparrow"/></a>
                <h4>Where to find your game's .ini file</h4>
                    <p>If you are editting a Steam game most Steam games live in </br>/programfiles/steam/app/common/</br> You should have a list of games in your inventory and you can search around those files.</p>
                    <p>Another very helpful way to find the location of a game's .ini file is to Google it.</br>
                    e.g. "Civ 5 ini file location"</p>
                    <a href="https://github.com/flegald/Gameini" class="icon fa-github"><span class="label">Github</span></a>
            </article>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script>
            $('#infoSection').hide()

            $('#info').on('click', function(){
                if ($('#infoSection').is(':hidden')){
                    $('#infoSection').fadeToggle()
                    $("html,body").animate({
                        scrollTop: $('#infoSection').offset().top},
                        'slow');
                } else {
                    $("#infoSection").fadeToggle()
                }
            })
            
            $('#info2').on('click', function(){
                if ($('#infoSection').is(':hidden')){
                    $('#infoSection').fadeToggle()
                    $("html,body").animate({
                        scrollTop: $('body').offset().top},
                        'slow');
                } else {
                    $("#infoSection").fadeToggle()
                    $("html,body").animate({
                        scrollTop: $('body').offset().top},
                        'slow');
                }
            })
            
        </script>
        </body>
    </body>
</html>
